In [3]:
tickers = ['SPY','BND','GLD','QQQ','VTI']

In [18]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime, timedelta
from pandas_datareader import data as pdr
import os

In [8]:
end_date = datetime.today()
print(end_date)

2025-09-30 11:14:27.228431

In [9]:
start_date = end_date - timedelta(2 * 365)

In [12]:
close_df = pd.DataFrame()  # Create an empty DataFrame instance

In [13]:
for ticker in tickers: 
    data = yf.download(ticker, start=start_date, end=end_date, auto_adjust=False)
    close_df[ticker] = data['Close']
    print(f"Downloaded data for {ticker}")

print(f"\nDataFrame shape: {close_df.shape}")
close_df.head()

[*********************100%***********************]  1 of 1 completed

Downloaded data for SPY

[*********************100%***********************]  1 of 1 completed

Downloaded data for BND

[*********************100%***********************]  1 of 1 completed

Downloaded data for GLD

[*********************100%***********************]  1 of 1 completed

Downloaded data for QQQ

[*********************100%***********************]  1 of 1 completed

Downloaded data for VTI

DataFrame shape: (500, 5)

                   SPY        BND         GLD         QQQ         VTI
Date
2023-10-02  427.309998  69.110001  169.649994  361.260010  212.130005
2023-10-03  421.589996  68.550003  169.160004  354.920013  209.050003
2023-10-04  424.660004  69.000000  169.139999  359.750000  210.559998
2023-10-05  424.500000  69.050003  168.830002  358.690002  210.449997
2023-10-06  429.540009  68.779999  169.699997  364.700012  212.960007

In [16]:
output_folder = r'C:\Projects\Finance'

In [22]:
output_file = os.path.join(output_folder, 'stock_prices.xlsx')
close_df.to_excel(output_file)