In [10]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as dt
from pandas_datareader import data as pdr
import os

In [2]:
endDate = dt.datetime.now()

startDate = endDate - dt.timedelta(days = 365*5)
endDate, startDate

(datetime.datetime(2025, 9, 30, 13, 22, 49, 271445),
 datetime.datetime(2020, 10, 1, 13, 22, 49, 271445))

In [3]:
stocks = ['spy','intc']

In [4]:
df = yf.download(stocks, start = startDate, end = endDate,auto_adjust=False)

[*********************100%***********************]  2 of 2 completed

In [12]:
df.tail()

Price       Adj Close                  Close                   High  \
Ticker           INTC         SPY       INTC         SPY       INTC
Date
2025-09-23  29.340000  663.210022  29.340000  663.210022  30.200001
2025-09-24  31.219999  661.099976  31.219999  661.099976  31.700001
2025-09-25  33.990002  658.049988  33.990002  658.049988  34.250000
2025-09-26  35.500000  661.820007  35.500000  661.820007  36.299999
2025-09-29  34.480000  663.679993  34.480000  663.679993  35.049999

Price                         Low                   Open              \
Ticker             SPY       INTC         SPY       INTC         SPY
Date
2025-09-23  667.340027  28.820000  661.979980  28.990000  666.719971
2025-09-24  664.609985  29.230000  659.669983  29.379999  664.510010
2025-09-25  659.409973  31.209999  654.409973  31.610001  657.940002
2025-09-26  662.369995  34.490002  657.880005  35.020000  659.510010
2025-09-29  665.280029  33.730000  661.859985  34.520000  664.359985

Price          Volume
Ticker           INTC       SPY
Date
2025-09-23  126317900  81708900
2025-09-24  164458500  68082200
2025-09-25  295709300  89622100
2025-09-26  268583300  69179200
2025-09-29  151820500  73415500

In [6]:
close_prices = df['Adj Close']

In [7]:
close_prices.head()

Ticker           INTC         SPY
Date
2020-10-01  46.885262  314.209198
2020-10-02  45.781338  311.225922
2020-10-05  46.391636  316.744873
2020-10-06  46.104435  312.242065
2020-10-07  47.271179  317.677185

In [8]:
output_folder = r'C:\Projects\Finance'

In [11]:
output_file = os.path.join(output_folder, '2-beta_stock_prices.xlsx')
close_prices.to_excel(output_file)