In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as dt
from pandas_datareader import data as pdr
import os

In [13]:
endDate = dt.datetime.now()

startDate = endDate - dt.timedelta(days = 365*5)
endDate, startDate

(datetime.datetime(2025, 9, 30, 13, 59, 56, 957071),
 datetime.datetime(2020, 10, 1, 13, 59, 56, 957071))

In [14]:
stocks = ['spy','intc']

In [15]:
# for stock in stocks:
df = yf.download(stocks, start = startDate, end = endDate,auto_adjust=False)

[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  2 of 2 completed

In [17]:
df.head()

Price       Adj Close                  Close                   High  \
Ticker           INTC         SPY       INTC         SPY       INTC
Date
2020-10-01  46.885262  314.209167  52.240002  337.040009  52.720001
2020-10-02  45.781349  311.225983  51.009998  333.839996  51.980000
2020-10-05  46.391636  316.744904  51.689999  339.760010  51.810001
2020-10-06  46.104439  312.242096  51.369999  334.929993  52.700001
2020-10-07  47.271187  317.677246  52.669998  340.760010  52.900002

Price                         Low                   Open              \
Ticker             SPY       INTC         SPY       INTC         SPY
Date
2020-10-01  338.739990  51.990002  335.010010  52.400002  337.690002
2020-10-02  337.010010  50.990002  331.190002  51.500000  331.700012
2020-10-05  339.959991  51.270000  336.010010  51.299999  336.059998
2020-10-06  342.170013  51.230000  334.380005  51.709999  339.910004
2020-10-07  341.630005  51.790001  338.089996  51.849998  338.119995

Price         Volume
Ticker          INTC       SPY
Date
2020-10-01  22127600  88698700
2020-10-02  25811800  89431100
2020-10-05  20883200  45713100
2020-10-06  25642800  90128900
2020-10-07  21978700  56999600

In [18]:
close_prices = df['Adj Close']

In [19]:
close_prices.head()

Ticker           INTC         SPY
Date
2020-10-01  46.885262  314.209167
2020-10-02  45.781349  311.225983
2020-10-05  46.391636  316.744904
2020-10-06  46.104439  312.242096
2020-10-07  47.271187  317.677246

In [20]:
output_folder = r'C:\Projects\Finance'

In [21]:
output_file = os.path.join(output_folder, '3-estimate-sharpe.xlsx')
close_prices.to_excel(output_file)